add-track-modal-header-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  align-items: center;
}

.add-track-modal-header {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 20px 0;
}

.add-track-modal-header-message {
  text-align: center;
  margin: 0;
  font-size: 72px;
  line-height: 82px;
  letter-spacing: -.005em;
  color: white;
  text-transform: none;
}