.webplayer-nav-bar {
  display: flex;
  flex-direction: column;
  min-height: 0;
  grid-area: nav;
  background-color: #010101;
  width: 232px;
  z-index: 3;
}

.webplayer-nav-bar-content-container {
  padding-top: 24px;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  height: 100%;
  cursor: default;
}

.webplayer-nav-bar-logolink-container {
  height: 63px;
  width: 232px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

.webplayer-nav-bar-logolink {
  padding-left: 24px;
  border: 0;
  margin-bottom: 18px;
  flex: 1;
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.webplayer-nav-bar-nav-links {
  list-style: none;
}

.nav-bar-nav-link-item {
  padding: 0 8px;
}

.nav-bar-link {
  color: #b3b3b3;
  // background-color: #282828;
  border-radius: 4px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  height: 40px;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.nav-bar-link:active {
  color: white;
  background-color: #282828;
}

.nav-bar-link:hover {
  color: white;
}



.nav-bar-home-icon {
  margin-right: 16px;
  display: none;
  height: 24px;
  width: 24px;
}

.nav-bar-home-active-icon {
  margin-right: 16px;
  display: block;
  height: 24px;
  width: 24px;
}

.nav-bar-nav-link-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: normal;
}

.webplayer-nav-bar-rootlist {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 0;
  min-height: 0;
  margin-top: 24px;
}

.webplayer-nav-bar-rootlist-content {
  display: flex;
  flex-direction: column;
  height: 100%
}

.webplayer-nav-bar-rootlist-playlists {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 24px
}

.rootlist-header {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .1em;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.create-playlist-button-container {
  width: 184px;
  height: 32px;
  margin-bottom: 12px;
}

.create-playlist-button {
  color: #b3b3b3;
  opacity: .7;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  min-height: max-content;
  cursor: pointer;
  transition: opacity .2s linear;
}

.create-playlist-button:hover {
  opacity: 1;
  color: white;
}

.create-playlist-button:focus {
  outline: none;
}

.create-playlist-icon {
  margin-right: 16px;
}

.create-playlist-button-title {
  font-size: 14px;
}

.rootlist-divider {
  margin: 8px 0;
  margin-right: 24px;
  background-color: #282828;
  border: none;
  height: 1px;
}

.rootlist-scroll-node {
  height: 100%;
  overflow-y: auto;
  list-style: none;
  transform: translateZ(0);
  padding: 4px 0;
}

.react-wrapper {
  display: inline;
  -webkit-user-select: none;
}

.react-wrapper:focus {
  outline: none;
}

.rootlist-item {
  position: relative;
  height: 32px;
}

.rootlist-item {
  color: white;
}



.text-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  height: 32px;
}

.playlist-title {
  color: #b3b3b3;
  font-size: 14px;
  letter-spacing: .015em;
  text-decoration: underline;
}