.webplayer-main {
  grid-area: main;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 0;
  background-color: #121212;
  margin-top: 60px;
}

.webplayer-main-container {
  flex: 1;
  min-height: 0;
}

.webplayer-scroll-node {
  height: 100%;
  overflow-y: scroll;
  transform: translateZ(0);
}

.webplayer-scroll-node-child-spacer {
  top: 0;
  height: 60px;
}

.webplayer-scroll-node-child {
  isolation: isolate;
  padding-bottom: 32px;
}

.webplayer-main-grid {
  display: grid;
  grid-gap: 32px;
  padding-top: 16px;
}

.content-spacing {
  padding: 0 32px;
  margin: 0;
  max-width: 1955px;
}


.playlist-collection {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 300px;
}

.playlist-item-container {
  flex: 1;
  min-height: 2px;
  position: relative;
  padding: 20px 20px 16px;
  background: #282828;
  border-radius: 8px;
  isolation: isolate;
  // width: 180.5px;
  width: 100%;  
}

.playlist-item-content-container {
  height: 100%;
  user-select: none;
  // flex: 1;
  // display: flex;
  // flex-direction: column;
}

.playlist-item-image-container {
  min-height: 129px;
  position: relative;
  background-color: #333;
  box-shadow:
    0 10px 30px 0 rgba(0, 0, 0, .3),
    0 1px 2px 0 rgba(0, 0, 0, .2);
}

.playlist-item-image {
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center center;
}

.playlist-item-title-container {
  min-height: 62px;
}

.playlist-item-title-link {
  text-align: left;
  position: relative;
  z-index: 1;
  color:white;
  text-decoration: none;
  pointer-events: visible;
}

.playlist-item-title {
  display: -webkit-box;
  color: white;
  overflow: hidden;
  word-break: break-all;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: normal;
  text-transform: none;
}

.playlist-item-description {
  text-overflow: ellipsis;
  display: -webkit-box;
  color: #b3b3b3;
  padding: 0;
  margin-top: 4px;
  white-space: normal;
  overflow: hidden;
  font-size: 11px;
  font-weight: 400px;
  line-height: 16px;
  letter-spacing: normal;
}

.playlist-item-sizer {
  position: absolute;
  z-index: 0;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  cursor: pointer;
}

.playlist-rows {
  grid-auto-rows: 0;
  grid-template-rows: auto 1fr;
}

.playlist-columns {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(164px, 1fr));
}

.playlist-collection-header-grid {
  grid-column: 1/-1;
}

.playlist-collection-header-flex {
  display: flex;
  align-items: center;
}

.playlist-collection-header-width {
  min-width: 0;
  flex-grow: 1;
}

.playlist-collection-header {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -.04em;
  text-transform: none;
}

.genre-header-link {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  display: inline-block;
  color: white;
}

.genre-header-link:hover {
  text-decoration: underline;
}

.genre-index-link {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: .1em;
  margin-left: 8px;
  background: transparent;
  color: #b3b3b3;
  text-transform: uppercase;
}

.genre-index-link:hover {
  text-decoration: underline;
}
