.splash-main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2E46B9;
  height: 1220px;
}

.splash-main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
    color: #1ED760;
    height: 360px;
    width: 1170px;
    margin: 0 110px;
  }
  
  .splash-main-section {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    width: 566px;
}

  .splash-main-section-header {
    font-size: 94px;
    letter-spacing: .0009em;
    font-weight: 900;
  }

  .splash-main-section-subheader {
    font-size: 18px;
    margin-top: 40px;
  }

  .splash-image {
    min-width: 1200px;
    min-height: 973px;
    // max-height: 975px;
    max-width: 100%;
    position: absolute;
    width: 70%;
    right: 0;
    left: 50%;
    bottom: 10%;
    border-radius: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 0;
  }

  .splash-main-signup-button {
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    margin-top: 40px;
    padding: 16px 48px 18px 48px;
    width: 260px;
    background-color: #1ED760;
    border-radius: 25px;
    color: #2940A8;
    text-align: center;
    transition: background-color .4s;
  }
  

  .splash-main-signup-button:hover {
    background-color: white;
  }

  .splash-main-message {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-flow: row wrap;
    height: 300px;
    width: 400px;
  }
