.splash-footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    height: 537px;
    padding: 80px 0 50px;
 }

 .splash-footer-nav p {
   color: white;
 }