.splash-header {
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  background-color: black;
  top: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  min-height: 54px;
}

.splash-header-nav {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1170px;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .header-logo-link-wrapper {
    margin-top: 20px;
    display: inline-block;
  }
  
  .header-logo-link {
    color: white
  }

  .header-logo-link-title {
    font-size: 35px;
    margin-left: 6px;
  }

  .auth-links {
    display: inline-block;
  }

  .auth-links-list {
    display: inline-flex;
    list-style: none;
  }

  .auth-links-list-item {
    display: inline-block;
    font-size: 16px;
    line-height: inherit;
    letter-spacing: 0;
    color: white;
    padding: 28px 17px;
  }

  .auth-links-list-item:hover {
    color: #1ed760;
  }

  .separator {
    background: currentColor;
    margin: auto 17px;
    height: 16px;
    width: 1px;
    color: white;
  }


  
 
