.splash-main-wrapper {
  background-color: #2D46B9;
  box-sizing: border-box;
}

.splash-main-hero {
  padding-top: 224px;
  padding-bottom: 110px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.splash-image {
  position: absolute;
  width: 70%;
  right: 0;
  top: 50%;
  transform: translate(34%, -50%);
  max-width: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  min-width: 170px;
  margin: 0 auto;
  height: auto;
  vertical-align: middle;
}

.splash-main-content {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  }
  
  .splash-main-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    max-width: 566px;
}

  .splash-main-section-header {
    text-align: left;
    font-size: 104px;
    font-weight: 900;
    margin: 16px 0 0;
    line-height: 1;
    letter-spacing: -0.04em;
    color: #1ED760;
  }

  .splash-main-section-subheader {
    text-align: left;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #1ED760;
  }

  .splash-main-signup-button {
    margin-top: 40px;
    color: #2940A8;
    background-color: #1ED760;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    transition-property: 
      background-color,
      border-color,
      color,
      box-shadow,
      filter;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    white-space: normal;

    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    text-decoration: none;
  }
  
  .splash-main-signup-button:hover {
    background-color: white;
  }

