.playlist-show-content-spacing {
  padding: 0 32px;
  margin: 0;
  max-width: 1955px;
}

.tracklist-container {
  position: relative;
}

.tracklist {
  width: 100%;
  margin-bottom: 1.5em;
  list-style: none;
}