.account-header-nav {
  color: white;
}

.account-footer-nav {
  color: white;
}

.splash-footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    height: 200px;
 }

 .splash-footer-nav p {
   color: white;
 }