.account-main {
  height: 900px;
}

.account-footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    height: 100px;
 }

 .account-footer-nav p {
   color: white;
 }