// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  height: 500px;
}

.signup-form header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.signup-form header h1 {
  text-align: center;
  color: black;
  margin-bottom: 30px;
}

.signup-form header a {
  text-align: center;
  color: black;
  border: none;
}

.signup-form header span {
  font-size: 20px;
  letter-spacing: .01em;
}

.signup-form ul {
  margin-top: 10px;
}

.signup-form li {
  margin-bottom: 30px;
}

.signup-form li div {
  display: inline-block;
}


.signup-form > li > hr {
  width: 350px;
}

.signup-form li p {
  text-align: left;
}

.signup-form input {
  border-radius: 5px;
  border: .5px solid black;
  height: 40px;
  width: 350px;
  padding-left: 5px;
}

.signup-form button {
    display: flex;
    justify-content: center;
    background-color: #1db954;
    padding: 10px;
    border-radius: 25px;
    color: white;
    font-size: 12px;
    text-align: center;
    letter-spacing: .2em;
    width: 350px;
  }
  
  .signup-form button:hover {
    background-color: #1ED760;
}

.signup-form a {
  color: #1db954  ;
  text-decoration: underline;
}

.signup-form li label input {
  display: block;
  margin-top: 6px;
}

.signup-form li:third-child {
  display: inline;
}

.gender-box {
  display: flex;
  flex-direction: row;
  margin-top: 12px;   
}

.gender-box-radio {
  width: 120px;
}

.gender-box-radio input {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.gender-box-radio label {
  font-size: 12px;
}

.error-message {
  color: red;
  font-size: 12px;
}

