.artist-showpage-banner {
  background-color: red;
  height: 40vh;
  max-height: none;
  min-height: 340px;
  color: white;
  position: relative;
  padding: 0 32px 24px;
  display: flex; 
  overflow: hidden;
}
