.artist-main-section {
  padding: 0 32px;
  margin: 0;
  max-width: 1955px;
}

.artist-section-header {
  font-size: 28px;
  line-height: 1.6;
  font-weight: 600;
  letter-spacing: -.36px;
  color: white;
  margin: 16px 0;
}

.artist-music {
  margin-top: 24px;
  overflow: hidden;
}

.artist-toptracks {
  margin: 0 auto;
  float: none;
}