.account-footer-nav {
  background-color: black;
  height: 537px;
  padding: 80px 0 50px;
 }

 .account-footer-nav {
   color: white;
   background-color: black;
 }

 .account-footer-nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 407px;
  width: 1170px;
  margin: 0 110px;
 }